name: CI + SonarCloud + Deploy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test-analyze:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest
          pip install pylint
          pip install coverage

      - name: Run pylint
        run: |
          pylint inventory spareparts_manager || true

      - name: Run tests with coverage
        run: |
          coverage run manage.py test
          coverage xml

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          projectBaseDir: .
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: https://sonarcloud.io

  deploy:
    name: Deploy to Elastic Beanstalk
    runs-on: ubuntu-latest
    needs: ci
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install zip
        run: |
          sudo apt-get update
          sudo apt-get install -y zip

      - name: Create deployment bundle
        run: |
          zip -r spareparts_manager-deploy.zip . \
            -x ".git" \
               ".github" \
               "_pycache_" \
               ".pytest_cache" \
               "venv/*" \
               ".venv/*"

      - name: Deploy to Elastic Beanstalk
        uses: einaregilsson/beanstalk-deploy@v22
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_session_token: ${{ secrets.AWS_SESSION_TOKEN }}
          application_name: "spareparts-eb"
          environment_name: "spareparts-env"
          version_label: "spareparts_manager-${{ github.run_number }}"
          region: "us-east-1"
          deployment_package: "spareparts_manager-deploy.zip"